/* Main elements */
body {
    background-color: #FAFAFA;
}
h1, h2, h3, h4, h5, h6, p, label {
    font-family: 'Lato', sans-serif;
}
hr {
    margin: 0 8px;
    border: none;
    background-color: darkgray;
    color: darkgray;
    height: 1px; 
}

/* Button */
.button {
    padding: 12px 48px; 
    font-size: 16px;
}

/* Text */
.text-center {
    text-align: center;
}
.font-size-16 {
    font-size: 16px;
}
.font-size-18 {
    font-size: 18px;
}
.font-size-24 {
    font-size: 24px;
}
.font-size-30 {
    font-size: 30px;
}
.font-size-40 {
    font-size: 40px;
}
.text-white {
    color: white;
}
.line-height-1-2 {
    line-height: 1.2;
}

/* Margins and paddings */
.margin-bottom-8 {
    margin-bottom: 8px;
}
.margin-16 {
    margin: 16px;
}
.margin-bottom-16 {
    margin-bottom: 16px;
}
.margin-top-16 {
    margin-top: 16px;
}
.margin-bottom-32 {
    margin-bottom: 32px;
}
.margin-top-32 {
    margin-top: 32px;
}
.padding-top-8 {
    padding-top: 8px;
}
.padding-bottom-48 {
    padding-bottom: 48px;
}

/* Displays */
.display-inline {
    display: inline;
}

/* Head of site */
.head-text-block {
    margin-left: -8%; 
    margin-top: 3%;
}
.head-block, .head-block > div > div > img {
    width: 100%
}
@media only screen and (max-width: 1500px) {
    .sm-text {
        font-size: 28px;
    }
}
.img-head {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.img-head > div {
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.logo-block {
    background: black; 
    border-radius: 0 0 10px 10px
}
.logo-img {
    width: 100%; 
    padding: 16px 8px;
}

/* Redmarks */
.redmark {
    font-size: 24px;
    color: #CE2B1D;
    margin-left: 4px;
    margin-top: 8px;
}

/* Form block */
.form-block {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.icon-block, .form-block {
    background: #EBEBEB;
}
.child-form > div {
    margin: 16px;
}
.child-form > div > label {
    margin: 0 8px;
}
.child-form > div > input {
    height: 50px;
}
.free-download {
    margin: 12% 0 0 10%; 
    color: #A74840;
}
.under-free-download {
    margin: 3% -10% 3% 10%;
    font-style: italic;
}
.free-download, .under-free-download {
    font-weight: bold;
}
.relative-image {
    position: relative;
    left: 36px;
    margin-top: -30px;
}
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .to-top-sm {
        margin-top: -15%;
    }
}
@media only screen and (min-width: 1400px) and (max-width: 1650px) {
    .to-top-md {
        margin-top: -20%;
    }
}
@media only screen and (min-width: 1650px) {
    .to-top-lg {
        margin-top: -30%;
    }
}

/* Quote */
.quote {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 18px;
}

/* Block of icons */
.icon-block {
    margin-top: 32px;
}
.icon-block > p {
    font-size: 30px;
    padding-top: 32px; 
    padding-bottom: 32px;
    margin: 0 15%;
}
.icon-header {
    font-size: 18px;
    color: #C1261B;
}
.icon-header, .icon-text {
    font-weight: bold;
}

/* Block of Logos */
.logos {
    text-align: center;
    margin-bottom: 32px;
}
.logos > p {
    margin: 48px 0; 
    color: #9F9F9F;
    font-size: 16px;
    font-weight: bold;
}
.logos > img {
    margin-left: 32px;
    margin-bottom: 32px;
}

/* Separator */
.separator-margin-0 {
    margin: 0;
}

/* Block of Privacy Policy */
.privacy-policy-text {
    margin: 32px 0; 
    font-size: 16px
}
.privacy-policy-text > a {
    color: #B6B6B6;
    text-decoration: underline;
}